<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Театры</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container" mt-5>
	<h1>Список театров</h1>
	<form th:action="@{/theatres}" th:object="${filter}" method="post">
		<p>Сортировка</p>
		<div class="col-md-6 form-group">
			<input th:type="text" th:field="*{performanceTitleSearched}" th:name="performanceTitleSearched" th:placeholder="'Введите название представления'" th:class="form-control">
			<input th:type="text" th:field="*{directorSearched}" th:name="directorSearched" th:placeholder="'Введите фамилию и имя режиссера'" th:class="form-control">
			<input th:type="text" th:field="*{actorSearched}" th:name="actorSearched" th:placeholder="'Введите фамилию и имя артиста'" th:class="form-control">
		</div>
		<p><input th:type="submit" th:value="Submit" /> <input th:type="reset" th:value="Reset" /></p>
	</form>
	<a th:href="'/theatres/add'" class="btn btn-warning">Добавить театр</a>
	<div th:each="el : ${theatres}" class="alert alert-info mt-2">
		<h3 th:text="${el.getName()}"/>
		<p th:text="'дом: ' + ${el.getBuilding()}"/>
		<p th:text="'улица: ' + ${el.getStreet()}"/>
		<p th:text="'город: ' + ${el.getTown()}"/>
		<p th:text="'страна: ' + ${el.getCountry}"/>
		<a th:href="'/theatres/' + ${el.getId()}" class="btn btn-warning">Детали</a>
	</div>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>